[submodule "widgets"]
	path = widgets
	url = git@github.com:coding-dream/widgets.git
[submodule "ASpidder"]
	path = ASpidder
    url=git@github.com:coding-dream/ASpider.git
[submodule "JSelenium"]
	path = JSelenium
	url = git@github.com:coding-dream/JSelenium.git
